<table class="greyfrut-table">
  <thead>
  <tr>
    <th>Year</th>
    <th>Jan</th>
    <th>Feb</th>
    <th>Mar</th>
    <th>Q1</th>
    <th>Apr</th>
    <th>May</th>
    <th>Jun</th>
    <th>Q2</th>
    <th>Jul</th>
    <th>Aug</th>
    <th>Sep</th>
    <th>Q3</th>
    <th>Oct</th>
    <th>Nov</th>
    <th>Dec</th>
    <th>Q4</th>
    <th>YTD</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ form.row['year'] }}</td>
      <td>{{ form.row[1] }}</td>
      <td>{{ form.row[2] }}</td>
      <td>{{ form.row[3] }}</td>
      <td>Q1</td>
      <td>{{ form.row[4] }}</td>
      <td>{{ form.row[5] }}</td>
      <td>{{ form.row[6] }}</td>
      <td>Q2</td>
      <td>{{ form.row[7] }}</td>
      <td>{{ form.row[8] }}</td>
      <td>{{ form.row[9] }}</td>
      <td>Q3</td>
      <td>{{ form.row[10] }}</td>
      <td>{{ form.row[11] }}</td>
      <td>{{ form.row[12] }}</td>
      <td>Q4</td>
      <td>YTD</td>
    </tr>
  </tbody>
</table>
